header {
    height: 90px;
    background: rgb(105, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        position: absolute;
        left: 20px;
    }

    p {
        font-size: 30px;
        margin: auto;
    }
}

.form-admin {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 50px 10px;
    background: rgb(119, 10, 10);
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;

    .admin__img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .admin__input {
        width: 100%;
        padding: 10px 5px;
        border: 1px solid transparent;
        color: black;
        border-radius: 10px;
    }

    .admin__input::placeholder {
        color: black;
    }

    .admin__input:focus {
        outline: none;
        border: 1px solid rgba($color: #000000, $alpha: 1);
    }

    .admin__input-submit {
        color: black;
        outline: none;
        border: none;
        font-size: 23px;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;

    }
}

.msj {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(105, 18, 18);
    padding: 19px 0px;
}